<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is Facundo Martinez, and I am currently pursuing a degree in
      Information Technology Analysis at ORT University. I find joy in
      programming, exploring various methods and languages. Recently, I
      collaborated with some friends to create a Discord bot capable of playing
      music and offering other features.
    </p>
    <p>
      My primary objective is to develop apps and websites that are both
      enjoyable and engaging for all users. I aspire to create unique games and
      provide innovative solutions through my knowledge and skills.
    </p>
  </div>
  <img
    width="200"
    height="200"
    src="/me.webp"
    class="order-1"
    style="object-position: 50% 50%"
  />
</article>
