<footer class="border-t border-yellow-700 dark:border-yellow-300 m-4 ">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-gray-700 sm:text-center dark:text-gray-400"
      >Portfolio Facundo Martinez
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-700 dark:text-gray-400 sm:mt-0"
    >
      <li>
        <a href="#top" class="hover:underline me-4 md:me-6">Home</a>
      </li>
      <li>
        <a
          href="https://github.com/Maydik890"
          class="hover:underline me-4 md:me-6"
          target="_blank"
          rel="noopener norefer">Github</a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/facundo-martinez-23a4831b7/"
          class="hover:underline me-4 md:me-6"
          target="_blank"
          rel="noopener norefer">LinkedIn</a
        >
      </li>
      <li>
        <a href="mailto:facundomarpar@gmail.com" class="hover:underline"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</footer>
